{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero give">
    <img src="{% static '/img/koibnb.jpg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>About Us</h2>
        <p>It's Intimacy, Partnership and Fellowship!!!</p>
    </div>
</section>

<section class="about-koinonia">

    <div class="about-koinonia-content">

        <div class="about-text">
            <div class="about-text-intro">
                <h3>Koinonia Network International</h3>
                <p>KOINONIA is a weekly programme organised by Eternity Network International where people come to experience WORSHIP, WORD, MIRACLES AND LOVE, experience true intimacy with the Holy spirit and learn to be with Him, be like Him and represent Him. <br> <br> It is a convergence of an end-time army of Spirit filled, Kingdom-minded, thoroughly trained believers with a passion to see God’s kingdom come and become agents of National Transformation-taking the value system of the Kingdom to every strata and sector of human existence.</p>
            
            </div>
             
            <div class="koinonia-statement">

            
                <div class="vission">
                    <h4>Our Vission</h4>
                    <p>To replicate the fullness of God’s life on earth.</p>
            
                </div>

                <div class="mission">
                    <h4>Our Mission</h4>
                    <p>Seeking and saving the lost (massive salvation of souls) <br>
                        Equipping and perfecting the saints by the Word of God and the ministry of the Holy Spirit <br>
                        Demonstrating the presence and power of the Holy Spirit in miracles, signs and wonders to prove that Jesus is Lord and He is alive. <br>
                        Revealing the wealth of the Kingdom and being Kingdom financiers. Standing in partnership with other ministries to finance God’s end time agenda.</p>
                
                </div>
            </div> 
            
            
            
        </div>

        <div class="about-koinonia-video">
            
        </div>
    </div>
        

</section>



{% endblock %}