{% extends 'base.html' %}
{% load static %}
<title>Blog</title>

{% block content %}

<section class="hero give">
    <img src="{% static '/img/koibnb.jpg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>Koinonia Blog</h2>
        <p>It's Intimacy, Partnership and Fellowship!!!</p>
    </div>
</section>

<section class="blog_details">
    <div class="blog_details_container">

        <div class="blog_details_content">
            <div class="blog_details_content_writer">
                <p>Written by:</p> 
                <p>Adejo Ojochenemi Sunday</p>

            </div>

            <div class="blog_details_content_writer_story">
                <h3>Mankind and Cultural Relationship</h3>
                <p class="date">March 05, 2022 -- <i class='bx bx-purchase-tag'></i> Finance, Marriage</p>
                <img src="{% static '/img/place.png' %}" alt="">

                <p>
                    “Breathe in…breathe out…. You do it 12-14 times a minute without thinking”, says Stacey W.

                    Breathing is a miracle we don’t stop to think about very much. We just do it. It keeps us alive. In the same amazing way God has given us as Christians a way to “breathe spiritually” for our spiritual well-being. Spiritual breathing, like physical breathing, is a process of exhaling the impure and inhaling the pure. It can become a way of life.

                    But the average Christian does not understand this concept and as a result lives on a spiritual roller coaster, controlling his or her own,  life resulting in frustration. On our own we may at times have a fresh start in life only to lose it again – negative thoughts, angry words, slammed doors…… How could this change?

                    It could change by learning and applying the concept of spiritual breathing, which is like physical breathing in that:

                    You “exhale” by confessing your sins as soon as you become aware of it, and claim God’s forgiveness…. And then……
                    You “inhale” by asking the Holy Spirit to once again control and empower you to help you from returning to that sin.

                    Usually we don’t give much thought to our physical breathing. But spiritual breathing is something that requires conscious action – a readiness to “exhale”, or confess our sin, and to “inhale”, or trust God to fill us with his Holy Spirit.

                    Don’t wait to exhale. Be quick to confess. We can pause and confess our sin as soon as we entertain a sinful thought, speak an ugly word, or act on evil desires. “Spiritual exhaling” is agreeing with God about our sin, whether in thought or deed, thanking Him for his forgiveness, and expressing a willingness to change our attitudes and actions. The Practise of breathing spiritually aids in developing a God-consciousness, which in turn serves to keep the revived heart spiritually focused and less susceptible to continual sinning.

                </p>
                
            </div>

        </div>
        
    

        


        

    

        
    </div>
    

       
</section>



{% endblock %}