{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero give">
    <img src="{% static '/img/koibnb.jpg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, veniam!</p>
    </div>
</section>


<section class="contact-us">

    <div class="contact-container">
        
        <div class="contact-info">
            <h3 class="contact-title a">Lets Get in Touch</h3>
            <p class="loc-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, cum?</p>
            
            <div class="info">
                <div class="item">
                    <h4 id="item-col">Public Relations</h4>
                    <a href="tel:+234-814-721-4444">+234-814-721-4444,</a><br>
                    <a href="tel:+234-907-777-7853">+234-907-777-7853</a><br>
                    <a href="tel:+234-915-022-7448">+234-915-022-7448</a>
                </div>
                <div class="item">
                    <h4 id="item-col">Counselling/Prayer</h4>
                    <a href="tel:+234-807-577-0001"> +234-807-577-0001</a>
                </div>
                <div class="item">
                    <h4 id="item-col">Protocol</h4>
                    <a href="tel:+234-708-777-7765">+234-708-777-7765</a>
                </div>
                <div class="item">
                    <h4 id="item-col">Media</h4>
                    <a href="tel:+234-810-028-9892">+234-810-028-9892</a>
                </div>
                <div class="item">
                    <h4 id="item-col">Finance</h4>
                    <a href="tel:+234-906-599-6660">+234-906-599-6660</a>
                </div>

            </div>

            <div class="social-media">
                <p>Connect with us :</p>
                <div class="social-icons">
                    <a href="#">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                    <a href="#">
                        <i class='bx bxl-youtube' ></i>
                    </a>
                </div>
            </div>


        </div>

        <div class="contact-form">
            

            <form action="" class="form-action">
                <h3 class="contact-title b">Send us a message</h3>
                <div class="input-container">
                    <input type="text" placeholder="Name" class="input">
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Email" class="input">
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Phone" class="input">
                </div>
                <div class="input-container textarea">
                    <textarea name="message" placeholder="Message" class="input" ></textarea>
                </div>
                
                    <input type="submit" value="Submit &#8594" class="button">
                
            </form>

        </div>
    </div>

</section>



{% endblock %}