{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero give">
    <img src="{% static '/img/radio.jpeg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>Koinonia Radio</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, veniam!</p>
    </div>
</section>

<section class="radio">
    <div class="radio-container">
        <div class="radio-content">

            <h3>Koinonia Mxlr Radio</h3>
            <i class='bx bx-radio'></i>

            <div class="mxlr">
                
                

                <section class="koinonia-live" data-scene>
                    <div class="koinonia-live-content" data-aos="fade-up">
                        <div class="koinonia-live-video-container">
                            <iframe class="koinonia-live-youtube"  src="https://mixlr.com/users/4841546/embed" frameborder="0" scrolling="no"></iframe>
                        </div>
                        <small><a href="http://mixlr.com/koinonia-global-radio" style="color:#1a1a1a;display:block;font-family:Helvetica,sans-serif;font-size:11px;text-align:left;">Koinonia Global Radio is on Mixlr</a>
                        </small>
                    </div>
                </section>
            </div>
            
            
        </div>
    </div>

</section>

{% endblock %}