{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="hero give">
    <img src="{% static '/img/koibnb.jpg' %}" alt="" class="hero-img">
    <div class="overlay"></div>

    <div class="give-text">
        <h2>Testimonies</h2>
        <p>It's Intimacy, Partnership and Fellowship!!!</p>
    </div>
</section>

<section class="blog">
    <div class="blog-container">
        
        <div class="blog-showcase">
            
            <div class="blog-showcase-container">
                <h2 class="sub-title">Testimonies</h2>
                <p class="header-intro-sm">Have a testimony you would like to share?</p>
                <div class="btn btn-b"><a href="">Share Your Testimony &#8594</a></div>


                <div class="showcase-vid">
                    <div class="testimony-video">
                        <video controls width="100%" class="vid">

                            <source src="/media/cc0-videos/flower.webm"
                                    type="video/webm">
                        
                            <source src="/images/test.mp4"
                                    type="video/mp4">
                        
                            Sorry, your browser doesn't support embedded videos.
                        </video>
                    </div>
                </div>
                

            </div>

            
            

        </div>

        <div class="koinonia-blog">
            <div class="blog-showcase-container">

                
                <div class="blog-row">
                    
                    <div class="blog-col testimony">
                        <a href="/pages/blog_details.html">
                            <img src="{% static '/img/place.png' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Sunday Adejoh | Abuja, Nigeria</p>
                            <h3>Broken Bones Restored</h3>
                            
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit tempora a aliquam ex possimus tempore, iste blanditiis molestiae expedita praesentium officia eum non amet cumque magni! Nostrum aliquid laudantium rerum!
                            </p>
                        </a> 
                        
                    </div>

                    <div class="blog-col testimony">
                        <a href="/pages/blog_details.html">
                            <img class="testimony_img" src="{% static '/img/place.png' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">James Collins | Accra Ghana</p>

                            <h3>The Pathway to Success</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe velit dolore reiciendis consectetur at quia quisquam dignissimos harum accusantium, ipsa modi ullam atque nesciunt blanditiis magni officia veniam quod. Nemo.</p>
                        </a>
                    </div>

                    <div class="blog-col testimony">
                        <a href="/pages/blog_details.html">
                            <img class="testimony_img" src="{% static '/img/place.png' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Fiona Donald | Louisiana, USA</p>
                            <h3>The Evidence of Good Leadership</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium vitae ipsa nostrum. Impedit quaerat voluptates saepe, eos, atque laborum delectus cum enim temporibus aut eligendi, molestiae earum tempora dicta.</p>
                        </a>
                    </div>

                    <div class="blog-col testimony">
                        <a href="/pages/blog_details.html">
                            <img class="testimony_img" src="{% static '/img/place.png' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Fiona Donald | Louisiana, USA</p>
                            <h3>The Evidence of Good Leadership</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium vitae ipsa nostrum. Impedit quaerat voluptates saepe, eos, atque laborum delectus cum enim temporibus aut eligendi, molestiae earum tempora dicta.</p>
                        </a>
                    </div>

                    <div class="blog-col">
                        <a href="/pages/blog_details.html">
                            
                                <img src="{% static '/img/place.png' %}" alt="">
                            
                            
                            <p class="date">March 05, 2022</p>
                            <p class="date">Fiona Donald | Louisiana, USA</p>
                            <h3>The Evidence of Good Leadership</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium vitae ipsa nostrum. Impedit quaerat voluptates saepe, eos, atque laborum delectus cum enim temporibus aut eligendi, molestiae earum tempora dicta.</p>
                        </a>
                    </div>

                    <div class="blog-col testimony">
                        <a href="/pages/blog_details.html">
                            <img class="testimony_img" src="{% static '/img/place.png' %}" alt="">
                            <p class="date">March 05, 2022</p>
                            <p class="date">Fiona Donald | Louisiana, USA</p>
                            <h3>The Evidence of Good Leadership</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium vitae ipsa nostrum. Impedit quaerat voluptates saepe, eos, atque laborum delectus cum enim temporibus aut eligendi, molestiae earum tempora dicta.</p>
                        </a>
                    </div>
                
                </div>
            </div>
            
        </div>

        


        

    

        
        </div>
    

       
</section>



{% endblock %}