<footer class="footer" data-scene>
    <div class="footer-container">
        <div class="social">

            <a href="https://www.twitter.com/koinoniaeni" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.facebook.com/koinoniaeni" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/koinoniaglobal"target="_blank" ><i class='bx bxl-instagram' ></i></a>
            <a href="https://www.youtube.com/Koinonia Global" target="_blank"><i class='bx bxl-youtube' ></i></a>

        </div>
        <p>&copy; 2022 KOINONIA NETWORK INTERNATIONAL</p>
    </div>
</footer>