{% extends 'base.html' %}

{% block title %}
    Homepage | Koinonia International Network
{% endblock %}

{% load static %}


        

        {% block content %}
        <section class="hero" data-scene>
            <video src="{% static '/videos/koinonia.mp4' %}" class="hero-img" muted loop autoplay></video>
            <!--<img src="images/ban.png" alt="" class="hero-img">-->
            <div class="overlay"></div>
            <div class="hero-text" data-aos="fade-up" data-aos-delay="1000">
                <h2 class="hero-content">Welcome to <br>Koinonia Network International</h2>
                <div class="btn btn-a"><a href="/pages/contact.html">Reach Us &#8594</a></div>
            </div>
        </section>
        
        <section class="about-us" data-scene>
            <div class="about-container">
                <div class="about-content">
                    <div class="about-image" data-aos="fade-up">
                        <img src="{% static '/img/apostle.png' %}" alt="">
                    </div>
                </div>
                <div class="about-note" data-aos="fade-up">
                    <h3> <span class="underline">Koinonia Network International</h3>
                    <p class="about-intro">It's Intimacy, Partnership and Fellowship!!! </p>
                    <p>KOINONIA is a weekly programme organised by Eternity Network International where people come to experience WORSHIP, WORD, MIRACLES AND LOVE, experience true intimacy with the Holy spirit and learn to be with Him, be like Him and represent Him.</p>
                    <div class="btn btn-b"><a href="/pages/about-us.html">Learn More &#8594</a></div>
                </div>
            </div>
        </section>
        
        <section class="attend">
            <div class="curved-upper">

            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#16262c" fill-opacity="1" d="M0,224L60,224C120,224,240,224,360,202.7C480,181,600,139,720,128C840,117,960,139,1080,144C1200,149,1320,139,1380,133.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
            </div>
            
            
            <div class="attend-container">

                <div class="attend-text">
                    <h3 >Attend a Service Near You</h3>
                    <p class="header-intro-sm">We would love to have you worship with us.</p>
                </div>

                <div class="attend-branch">
                    <div class="col">
                        <h4 class="branch-title">Abuja</h4>
                        <p class="branch-time">Sundays <br>5:00pm</p>
            
                        <p class="branch-location">Chida Hotels, <br>224 Solomon Lar road, <br> Mabushi 900108, Abuja.</p>
                        <p class="directions"><a href="https://goo.gl/maps/WXfY1FwAaE1LTh6t6" target="_blank">Get Direction <br><i class='bx bx-directions'></i></a></p>
                    </div>
                    <div class="col">
                        <h4 class="branch-title">Zaria</h4>
                        <p class="branch-time">Fridays <br>5:00pm</p>
                        
                        <p class="branch-location"> Christ Gospel Church, <br>16/17, Alin, Basawa Road<br>Samaru, Zaria.</p>
                        <p class="directions"><a href="https://goo.gl/maps/KEB6v1S27yQyjRu89" target="_blank">Get Direction <br><i class='bx bx-directions'></i></a></p>
                    </div>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319"><path fill="#fff" fill-opacity="1" d="M0,224L60,224C120,224,240,224,360,202.7C480,181,600,139,720,128C840,117,960,139,1080,144C1200,149,1320,139,1380,133.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
        </section>

        
        <section class="belivers">
            <div class="belivers-content">
                <h1>We are a Global Community of Believers</h1>
                <p>Committed to the Propagation of the Gospel of Jesus Christ</p>
            </div>
        </section>
        

        <section class="testimonies">
            <div class="testimonies-container">
                
               
                
                

                
                    

                <div class="swiper-pagination swiper-pagination-testimonies"></div>
                    
                    <div class="swiper koiTestimonies">
                        
                        <div class="swiper-wrapper">

                    
                        <div class="testimonial-content swiper-slide">
                            <div class="testimonial-data">
                                <div class="testimonial-header">
                                    <!--<img src="/images/F.jpg" alt="" class="testimonial-img">-->
                                <div>
                                    <h4 class="testimonial_name">Peterside Abdulrahim</h4>
                                    <p class="testimonial-location">Lagos, Nigeria.</p>
                                </div>
                                </div>
                            
                            <div class="comment comment-left"><i class='bx bxs-quote-alt-left'></i></div>
                                <p class="testimonial-description">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptas est adipisci cumque quaerat quos. Eaque ad optio voluptas provident, ipsam ex culpa repellat at obcaecati officia aliquam harum deleniti.
                                </p>
                                <div class="comment comment-right"><i class='bx bxs-quote-alt-right'></i></div>
                            </div>  
                        </div>

                        <div class="testimonial-content swiper-slide">
                            <div class="testimonial-data">
                                <div class="testimonial-header">
                                  <!--  <img src="/images/g.jpg" alt="" class="testimonial-img">-->
                                <div>
                                    <h4 class="testimonial_name">Gift .C</h4>
                                    <p class="testimonial-location">Lagos, Nigeria.</p>
                                </div>
                                </div>
                            
                            <div class="comment comment-left"><i class='bx bxs-quote-alt-left'></i></div>
                                <p class="testimonial-description">
                                Since i started following online teachings of Apostle Joshua Selman, my life has changed radically. Both my mindset and reasoning have been positively influenced. <br>
                                As i followed Apostle Joshua Selman's messages, all glory be to God, I miraculously got pregnant. the blessings didn't end there, as my husband and I were also blessed with a brand new house of our own after seven year long wait. <br>
                                We completely give God all the Glory!
                                </p>
                                <div class="comment comment-right"><i class='bx bxs-quote-alt-right'></i></div>
                            </div>  
                        </div>

                        <div class="testimonial-content swiper-slide">
                            <div class="testimonial-data">
                                <div class="testimonial-header">
                                  <!--  <img src="/images/h.jpg" alt="" class="testimonial-img">-->
                                <div>
                                    <h4 class="testimonial_name">Ageyeiwaaj</h4>
                                    <p class="testimonial-location">Lagos, Nigeria.</p>
                                </div>
                                </div>
                            
                            <div class="comment comment-left"><i class='bx bxs-quote-alt-left'></i></div>
                                <p class="testimonial-description">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptas est adipisci cumque quaerat quos. Eaque ad optio voluptas provident, ipsam ex culpa repellat at obcaecati officia aliquam harum deleniti.
                                </p>
                                <div class="comment comment-right"><i class='bx bxs-quote-alt-right'></i></div>
                            </div>  
                        </div>

                        <div class="testimonial-content swiper-slide">
                            <div class="testimonial-data">
                                <div class="testimonial-header">
                                  <!--  <img src="/images/apostle.jpg" alt="" class="testimonial-img">-->
                                <div>
                                    <h4 class="testimonial_name">Peterside Abdulrahim</h4>
                                    <p class="testimonial-location">Lagos, Nigeria.</p>
                                </div>
                                </div>
                            
                            <div class="comment comment-left"><i class='bx bxs-quote-alt-left'></i></div>
                                <p class="testimonial-description">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptas est adipisci cumque quaerat quos. Eaque ad optio voluptas provident, ipsam ex culpa repellat at obcaecati officia aliquam harum deleniti.
                                </p>
                                <div class="comment comment-right"><i class='bx bxs-quote-alt-right'></i></div>
                            </div>  
                        </div>

                        <div class="testimonial-content swiper-slide">
                            <div class="testimonial-data">
                                <div class="testimonial-header">
                                   <!-- <img src="/images/h.jpg" alt="" class="testimonial-img">-->
                                <div>
                                    <h4 class="testimonial_name">Peterside Abdulrahim</h4>
                                    <p class="testimonial-location">Lagos, Nigeria.</p>
                                </div>
                                </div>
                            
                            <div class="comment comment-left"><i class='bx bxs-quote-alt-left'></i></div>
                                <p class="testimonial-description">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet voluptas est adipisci cumque quaerat quos. Eaque ad optio voluptas provident, ipsam ex culpa repellat at obcaecati officia aliquam harum deleniti.
                                </p>
                                <div class="comment comment-right"><i class='bx bxs-quote-alt-right'></i></div>
                            </div>  
                        </div>
                    </div>
                </div>    

                    

                  
            </div>

        </section>

        <section class="begin" data-scene>
            <img class="begin-img" src="{% static 'img/begin.png' %}" alt="">
            <div class="overlay"></div>
            
                <div class="begin-text" data-aos="zoom-out-right">
                    <p>Not sure where to begin your journey?</p>
                    <h2>Start Here!!</h2>
                    <div class="btn btn-a">
                    <a href="{% url 'begin' %}">Get Started &#8594</a>
                    </div>
                </div>
                
            
        </section>

        


        <section class="koinonia-live" data-scene>
            <div class="koinonia-live-content" data-aos="fade-up">
                <h2 class="title-header sub-title">Go Live</h2>
                <div class="koinonia-live-video-container">
                    <iframe class="koinonia-live-youtube" src="https://www.youtube.com/embed/hOxFehipRA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="btn btn-b"><a href="https://www.youtube.com/c/KoinoniaGlobal" target="_blank">More Content &#8594</a></div>
            </div>
        </section>

        

        <!--<section class="experience">
            <div class="experience-container">
                <div class="experience-video">
                    <iframe  src="https://www.youtube.com/embed/lDkl_utegsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <img src="images/youtube.jpg" alt="">
                </div>
                <div class="experience-text">
                    <h3>Experience Koinonia live, wherever you are.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque tempore aperiam fugit corporis eos molestias voluptas sint sit animi quidem minima, consequuntur tenetur error necessitatibus asperiores culpa! Fugiat illo id nemo error! Itaque fugiat rem sit, excepturi recusandae facere ex ipsum vero, odio neque culpa quod aut dolorum maiores!</p>
                    <p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </section>-->

            <!--Testimony Section-->

            <section class="events">
                <h2 class="title-header sub-title">Upcoming Events</h2>

    
                <div class="upcoming">

                

                

  
                <!-- Swiper -->
                <div class="upcoming-container">
                    
                <div class="upcomingEvents swiper env-swiper">
                  <div class="swiper-wrapper">
            
                    <div class="upcoming-content swiper-slide">
                      <div class="event-item-date">
                        <a href=""><img src="{% static '/img/wine.jpg' %}" alt=""></a>
                        <div class="event-item-date-item">
                            <p>
                                Jan
                            </p>
                            <h4>
                                27
                            </h4>
                        </div>
                    </div>
                    
                    
                    <div class="event-item-text">
                        <h3><a href="/pages/events-pages/d.html"> A Feast at the Master's Feet</a></h3>
                        <p>Sat, Feb 5, 2022 6:00 PM - Sun, Feb 13, 2022 1:00 PM</p>
                        <p>Christ Gospel Church</p>
                           
                    </div>
                    </div>
            
                    <div class="upcoming-content swiper-slide">
                      <div class="event-item-date">
                        <img src="{% static '/img/give.jpeg' %}" alt="">
                        <div class="event-item-date-item">
                            <p>
                                Feb
                            </p>
                            <h4>
                                12
                            </h4>
                        </div>
                    </div>
                    
                    
                    <div class="event-item-text">
                        <h3><a href=""> The Journey </a></h3>
                        <p>Sat, Feb 5, 2022 6:00 PM - Sun, Feb 13, 2022 1:00 PM</p>
                        <p>Christ Gospel Church</p>
                          
                    </div>
                    </div>
            
                    <div class="upcoming-content swiper-slide">
                      <div class="event-item-date">
                        <img src="{% static '/img/4.jpg' %}" alt="">
                        <div class="event-item-date-item">
                            <p>
                                Feb
                            </p>
                            <h4>
                                26
                            </h4>
                        </div>
                    </div>
                    
                    
                    <div class="event-item-text">
                        <h3><a href=""> Promotional Offers </a></h3>
                        <p>Sat, Feb 5, 2022 6:00 PM - Sun, Feb 13, 2022 1:00 PM</p>
                        <p>Christ Gospel Church</p>
                           
                    </div>
                    </div>
            
                    <div class="upcoming-content swiper-slide">
                      <div class="event-item-date">
                        <img src="{% static '/img/ban.png' %}" alt="">
                        <div class="event-item-date-item">
                            <p>
                                Jan
                            </p>
                            <h4>
                                31
                            </h4>
                        </div>
                    </div>
                    
                    
                    <div class="event-item-text">
                        <h3 class="section-title"><a href=""> Spiritual Gifts </a></h3>
                        <p>Sat, Feb 5, 2022 6:00 PM - Sun, Feb 13, 2022 1:00 PM</p>
                        <p>Christ Gospel Church</p>
                          
                    </div>
                    </div>
            
                    <div class="upcoming-content swiper-slide">
                        <div class="event-item-date">
                            <img src="{% static '/img/about.jpeg' %}" alt="">
                            <div class="event-item-date-item">
                                <p>
                                    Feb
                                </p>
                                <h4>
                                    02
                                </h4>
                            </div>
                        </div>
                    
                    
                        <div class="event-item-text">
                            <h3><a href=""> Personal Experience </a></h3>
                            <p>Sat, Feb 5, 2022 6:00 PM - Sun, Feb 13, 2022 1:00 PM</p>
                            <p>Christ Gospel Church</p>
                            
                        </div>
                    </div>
            
                  
            
            
                  </div>
                  
                    
                </div>

                    <div class="swiper-button-next event-swiper-button-next"> <i class='bx bx-chevron-right swiper-upcoming-icon'></i> </div>
                    <div class="swiper-button-prev event-swiper-button-prev"> <i class='bx bx-chevron-left swiper-upcoming-icon'></i> </div>
                    
                    <div class="swiper-pagination swiper-pagination-upcoming"></div>
            
            </div>
            
            
        </div>
        <div class="btn btn-b"><a href="/pages/events.html">View  All Events &#8594</a></div>
        </section>

    
    {% endblock %}